@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Reverse String</h1>
    <form method="post">
        <input class="form-control mb-2" name="str" type="text" value="@Model" />
        <input class="btn btn-primary" type="submit" value="Reverse!" />
    </form>
</div>


